<div id="post-all">
  <% @posts.each do |post| %>
  <br>
    <%= post.post_votes.length %>

    <%= link_to post.title, "#{post.content}" %>
    <i class="fa fa-cloud" aria-hidden="true"></i>
    Dreamt by <%= User.find(post.user_id).name %>
    <br>

    <%= link_to "comment?", new_user_post_comment_path(post.user_id, post.id) %>

    <% if current_user && current_user.post_votes.find { |h| h[:post_id] == post.id }.nil? %>
    <%= link_to "Up Vote", post_votes_path(post_id: post.id), method: :post %>
    <% end %>

    <br>
   <% if session[:user_id] == post.user_id %>
   <!-- Should Editing posts even be a function? -->

     <%= link_to "edit post", edit_user_post_path(post.user_id, post.id) %>
     <%= link_to "delete post", user_post_path(post.user_id, post.id), method: :delete, data: {confirm: "Are you sure?"} %>
   <% end %>
  <% end %>
</div>
